<!DOCTYPE html>
<html>
<base href="http://localhost:3000" target="_blank">
  <head>
    <meta charset="utf-8">
    <title>Them Thong Tin</title>
  </head>
  <body>
    <div class="container">
      <h1>Dang Tin</h1>
      <div class="row">
        <form class="form form-group" action="/admin/add" method="post">
          <input type="text" name="title" value="" placeholder="Nhap vao title"><br>
          <input type="text" name="date" value="" placeholder="Nhap vao ngay dang"><br>
          <input type="text" name="desc" value="" placeholder="Nhap vao thong tin"><br>
          <input type="text" name="image" value="" placeholder="Nhap vao link hinh"><br>
          <input type="submit" name="" value="Post">
        </form>
      </div>
    </div>
  </body>
</html>
