<!DOCTYPE html>
<html>
<base href="http://localhost:3000">
  <head>
    <meta charset="utf-8">
    <title>Sua Thong Tin</title>
  </head>
  <body>
    <div class="container">
      <h1>Dang Tin</h1>
      <div class="row">
        <div class="col-sm-10">
        <form class="form form-group" action="/admin/sua" method="post">
          <input type="text" name="title" value="<%= tin.title%>"><br>
          <input type="text" name="date" value="<%= tin.date%>" ><br>
          <input type="text" name="desc" value="<%= tin.desc%>"><br>
          <input type="text" name="image" value="<%= tin.image%>"><br>
          <input type="submit" value="Update">
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
